#cont {
    background-color: #ffd6d6;
    border-radius: 10px;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 12%;
    transform: rotate(3deg);
}

 .contact-form{
    border-radius:1rem;
}

.contact-form h3{
    text-align: center;
    color: #fc624d; 
}

.imagenes {
    text-align: center;
    background-color: #7f9ccb;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
}

.falso{
    display: none;
}
.invalid input {
    border-color: red;
}
.btn {
    color: #000; 
    background-color: #ff895d;
    border-color:#fc624d;
}
.btn:hover {
    color: #fff; 
    background-color: #fc624d;  
    border-color: #fc624d;  
    transform: scale(1.05);
}
