
/* primera paleta */
.first-color {
    background: #ffcbcb;
}

.second-color {
    background: #ffb5b5;
}

.third-color {
    background: #407088;
}

.fourth-color {
    background: #132743;
}
/* segunda paleta */
.first-color { 
	background: #1b435d; 
}
	
.second-color { 
	background: #78bbe6; 
}

.third-color { 
	background: #d5eeff; 
}

.fourth-color { 
	background: #ff895d; }

/* tercera paleta */
.first-color { 
	background: #18587a; 
}
	
.second-color { 
	background: #fc624d; 
}

.third-color { 
	background: #fca7a7; 
}

.fourth-color { 
	background: #ffd6d6; 
}