.carousel-item img {
    max-width: 75%;
    display: block;
    margin: 0 auto;
}
.btn {
    color: #000; 
    background-color: #ff895d;
    border-color:#fc624d;
}
.btn:hover {
    color: #fff; 
    background-color: #fc624d;  
    border-color: #fc624d;  
    transform: scale(1.05);
}
.texto-con-sombra {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
}
.texto-con-sombra-n {
    text-shadow: 1px 1px 2px #ff895d; 
}
.texto-grande {
    font-size: 1.1rem;
  }