<div class="container contact-form mt-4 col-xl-12 col-lg-12 col-md-12 col-11">
    <div class="contact-image">
        <img class="mt-3" style="max-width: 120px;" src="../../assets/img/imgFormulario.png" alt="rocket_contact" />
    </div>

    <form [formGroup]="formularioRegistro" (ngSubmit)="modificarUsuario()">
        <h3>Modificar Cuenta</h3>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center ">
                <div class="form-floating col-9 col-md-7">
                    <input type="text" class="form-control" placeholder="Nombre" value="{{usuario?.nombre}}"
                        formControlName="nombre">
                    <label for="floatingInput">Nombre</label>
                </div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <div class="form-floating mt-2 col-9 col-md-7">
                    <input type="text" class="form-control" placeholder="Apellidos" value="{{usuario?.apellidos}}"
                        formControlName="apellidos">
                    <label for="floatingInput">Apellidos</label>
                </div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <div class="form-floating mt-2 col-9 col-md-7">
                    <input type="email" class="form-control" value="{{usuario.mail}}" formControlName="mail">
                    <label for="floatingInput">Email</label>
                </div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <div class="form-floating mt-2 col-9 col-md-7">
                    <input type="text" class="form-control" placeholder="Ciudad" value="{{usuario.ciudad}}"
                        formControlName="ciudad">
                    <label for="floatingInput">Ciudad</label>
                </div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <div class="form-floating mt-2 col-9 col-md-7">
                    <input type="password" class="form-control" placeholder="Cambiar contraseña" value=""
                        formControlName="password">
                    <label for="floatingInput">Cambiar contraseña</label>
                </div>
            </div>

            <div class="d-flex justify-content-center gap-5 mt-3 mb-3">
                <button class="btn btn-md" type="button" (click)="borrarUsuario()">Darse de baja <i class="bi bi-person-fill-dash"></i></button>
                <button class="btn btn-md" type="submit">Actualizar cuenta <i class="bi bi-person-fill-up"></i></button>
            </div>
        </div>
    </form>
</div>