<form method="post" action="{{ path('app_localizacion_delete', {'id': localizacion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ localizacion.id) }}">
    <button class="btn">Delete</button>
</form>
